<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Employees</title>
</head>
<body>
Employees:
<div th:if="${employees!=null}">
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phone Number</th>
        <th>salary</th>
        <th>position</th>
        <th>company</th>
        <th>picture</th>
    </tr>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.company.getName()}"></td>
<td>
    <img th:if="${employee.employeeImages!=null && !employee.employeeImages.isEmpty()}" th:src="@{/getImage(picName=${employee.getEmployeeImages().get(0).getName()})}" width="100" height="100">
    <img th:if="${employee.employeeImages==null || employee.employeeImages.isEmpty()}" th:src="@{/img/img.png}" width="100" height="100">

</td>

        <td><a th:href="@{'/deleteemployee/'+${employee.id}}">delete</a></td>

    </tr>
</table>
</div>
<div style="width: 50%; float: left"> Add Employee:<br>
    <form action="/addemployee" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name"><br>
        <input type="text" name="surname" placeholder="surname"><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="text" name="phoneNumber" placeholder="phone number"><br>
        <input type="number" name="salary" placeholder="salary"><br>
        <input type="text" name="position" placeholder="position"><br>
        <input type="file" name="pictures" multiple>
        <label>Choose a company</label>
        <select name="company.id"> <br>
            <option th:each="company:${companies}" th:text="${company.getName()}" th:value="${company.id}"></option>
        </select>
        <input type="submit" value="Add"></form>
</div>
</body>
</html>